# General gcc and building files
build/
*.o
*.pch
Makefile

# Runtime files
*.log
*.temp

# CMake-related files
CMakeCache.txt
cmake_install.cmake
CMakeFiles/

# Executables
SCFserver
SCFclient

# Directories
.vscode/
backup/
test/
